@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    João Matheus<br />
    Centro Universitário Farias Brito<br />
    <abbr title="Telefone">Telefone:</abbr>
    (85) 3486-9000
</address>

